services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile.dev
    env_file:
      - .env.development
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: sudokupy-postgres
    image: postgres:16
    ports:
      - "5432:5432"
    env_file:
      - .env.development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_PASSWORD || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 20

  gateway:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile.dev
    env_file:
      - .env.development
    depends_on:
      - backend
    ports:
      - "5173:5173"
    restart: unless-stopped

volumes:
  postgres_data:
