services:
  api:
    build:
      context: ../api
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    volumes:
      - ../api:/app
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5173:5173"
    volumes:
      - ../frontend:/usr/src/app
    command: ["npm", "run", "dev", "--", "--host"]
